<?xml version="1.0"?>
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>127.0.0.1</bind-address>
            <name>default-tcp-listener</name>
        </tcp-listener>
        <tls-tcp-listener>
            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <name>tls-tcp-listener</name>
            <tls>
                <protocols>
                    <protocol>TLSv1.2</protocol>
                    <protocol>TLSv1.3</protocol>
                </protocols>
                <keystore>
                    <path>/opt/hivemq/certs/hivemq.jks</path>
                    <password>hivemq</password>
                    <private-key-password>hivemq</private-key-password>
                </keystore>
                <truststore>
                    <path>/opt/hivemq/certs/hivemq-trust-store.jks</path>
                    <password>hivemq</password>
                </truststore>
                <native-ssl>true</native-ssl>
                <concurrent-handshake-limit>500</concurrent-handshake-limit>
                <client-authentication-mode>REQUIRED</client-authentication-mode>
            </tls>
        </tls-tcp-listener>
        <websocket-listener>
            <port>8000</port>
            <bind-address>127.0.0.1</bind-address>
            <path>/mqtt</path>
            <name>default-websocket-listener</name>
            <subprotocols>
                <subprotocol>mqttv3.1</subprotocol>
                <subprotocol>mqtt</subprotocol>
            </subprotocols>
            <allow-extensions>true</allow-extensions>
        </websocket-listener>
        <tls-websocket-listener>
            <port>8443</port>
            <bind-address>0.0.0.0</bind-address>
            <path>/mqtt</path>
            <name>tls-websocket-listener</name>
            <subprotocols>
                <subprotocol>mqttv3.1</subprotocol>
                <subprotocol>mqtt</subprotocol>
            </subprotocols>
            <allow-extensions>true</allow-extensions>
            <tls>
                <protocols>
                    <protocol>TLSv1.2</protocol>
                    <protocol>TLSv1.3</protocol>
                </protocols>
                <keystore>
                    <path>/opt/hivemq/certs/hivemq.jks</path>
                    <password>hivemq</password>
                    <private-key-password>hivemq</private-key-password>
                </keystore>
                <truststore>
                    <path>/opt/hivemq/certs/hivemq-trust-store.jks</path>
                    <password>hivemq</password>
                </truststore>
                <native-ssl>true</native-ssl>
                <concurrent-handshake-limit>500</concurrent-handshake-limit>
                <client-authentication-mode>REQUIRED</client-authentication-mode>
            </tls>
        </tls-websocket-listener>
    </listeners>
    <mqtt>
        <max-client-id-length>256</max-client-id-length>
        <client-session-ttl>3600</client-session-ttl>
        <publish-ttl>3600</publish-ttl>
        <max-queued-messages>1000</max-queued-messages>
        <session-expiry>
            <max-interval>3600</max-interval>
        </session-expiry>
        <message-expiry>
            <max-interval>3600</max-interval>
        </message-expiry>
        <retained-messages>
            <enabled>false</enabled>
        </retained-messages>
        <packets>
            <max-packet-size>1048576</max-packet-size>
        </packets>
    </mqtt>
    <persistence>
         <client-session>
            <queued-messages>
                <max-queued-messages>1000</max-queued-messages>
                <queued-messages-strategy>discard-oldest</queued-messages-strategy>
                <mode>in-memory</mode>
            </queued-messages>
         </client-session>
    </persistence>
    <general>
        <update-check-enabled>false</update-check-enabled>
    </general>
    <security>
        <allow-empty-client-id>
            <enabled>false</enabled>
        </allow-empty-client-id>
    </security>
    <restrictions>
        <max-connections>1024</max-connections>
    </restrictions>
</hivemq>